body{
    font-family: 'Open sans' , Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0;
    padding: 0;
}
code{
    background-color: rgb(209, 209, 209);
    display: block;
    padding: 15px;
    width: 300px;
    margin: 15px 0px;
    border-radius: 10px;
}
ul , ol{
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

/* FIM DO BODY */


header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    /* background-color: orange; */
    padding: 40px 30px;
    box-sizing: border-box;
    background-image: url(../fulls/overlay.png) , url(../fulls/bg.jpg);
    background-position: left top;
    background-size: auto , cover;
    text-align: right;
}
header img{
    border-radius: 50%;
    margin-top: 50px;
}
header h1{
    color: rgb(205, 204, 204);
    font-size: 19pt;
    font-family:'Open sans' , Arial, Helvetica, sans-serif;
    margin: 10px 10px;
}
header strong{
    color: white;
}
header .main-header-link-texto{
    color: gray;
    text-decoration: unset;
    border-bottom: 1px dotted white;
    color: white;
}
header p{
    font-size: 15pt;
    color: white;
    margin-top: 85px;
}
header .main-header-link-texto:hover{
    border-bottom: unset;
    color: white;
}

/* FIM DO HEADER */


main{
    width: 65%;
    margin-left: 35%;
    padding: 40px 30px;
    box-sizing: border-box;
}
.main-content-section{
    font-size: 15pt;
    padding: 10px;
    margin-bottom: 25px;
}
.section-quarto-bloco{
    padding: 30px 0px;
}
/* FIM DO MAIN */


.section-primeiro h2{
    text-transform: uppercase;
}
.section-primeiro p{
    text-align: justify;
    margin-bottom: 25px;
}
.button-generico{
    border: gray 0.5px solid;
    border-radius: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    color: black;
    text-decoration: unset;
    font-size: 15pt;
}
.button-generico:hover{
    border: .5px solid gray;
    color: white;
    background-color: black;
}


/* FIM DA PRIMEIRA SESSÃO */


.section-segundo{

}
.fotos-section-segundo{
    width: 47%;
    margin: 10px 3% 15px 0px;
    float: left;
    padding: 5px 0px;
}
.fotos-section-segundo h4 , p{
    margin: 5px 0px;
}
.title-cards{
    font-size: 14pt;
    text-align: center;
}
.text-cards{
    font-size: 12pt;
    text-align: center;
}

/* FIM DA SEGUNDA SESSÃO */










/* ACTION */
.button-generico-action{
    background-color: rgb(51, 213, 202);
    padding: 10px 30px;
    border-radius: 15px;
    text-decoration: unset;
    color: black;
    transition: background-color 1s linear , color 0.5s linear;
}
.button-generico-action:hover{
    background-color: rgb(65, 64, 64);
    color: white;
}
.bloco-action p{
    margin-bottom: 45px;
}
.button-generico-action-segundo{
    background-color: black;
    padding: 10px 30px;
    border: solid 1px black;
    border-radius: 20px;
    color: white;
    text-decoration: unset;
    transition: background-color 1s linear;
}
.button-generico-action-segundo:hover{
    background-color: gray;
}

/* FIM DO ACTION */

/* TABLE */
.table-normal{
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
}
.table-normal thead th{
    text-transform: uppercase;
    background-color: rgb(179, 170, 170);
    padding: 10px 5px;
    border-bottom: black solid 1.5px;
    color: black;
    text-align: left;
}
.table-normal td{
    padding: 10px 5px;
}
.table-normal tbody tr:nth-child(even){
    background-color: rgb(230, 228, 228);
}
.table-normal tbody tr:last-child{
    border-bottom: black solid 1px;
}



/* FIM DO TABLE */