#global{
    
}
body{
    margin: 0px;
}
header{
    background-color: rgb(28, 7, 136);
    height: 70px;
    padding: 10px;
    margin: 0;
    position: relative;
}
header img{
    display: inline-block;
    margin: 15px 0px 0px 30px;
}
nav{
    display: inline-block;
}
nav ul{
    position: absolute;
    margin: 0px;
    right: 40px;
    top: 20px;
}
nav ul li{
    display: inline-block;
    margin: 5px 15px;
}
nav ul li a{
    color: white;
    text-decoration: unset;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;border: solid 1px transparent;
}
nav ul li a:hover{
    color: white;
    border: solid 1px white;
    background-color: black
}


.banner{
    background-image: url(../imagens/topo.jpg);
    height: 600px;
    background-size: cover;
    background-attachment: scroll;
    background-position: left;
}


.primeira-parte , .terceira-parte , .quarta-parte{
    margin: auto;
    width: 80%;
    margin-top: 80px;
    text-align: center;
}
.primeira-parte h1{
    text-align: center;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;

}
.primeira-parte p{
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;;
    letter-spacing: 1.1px;
}
.primeira-parte a{
    background-color: black;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: unset;
    color: white;
    text-align: center;
    font-size: 17px;
    margin: 10px 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: transparent solid 1px;
    border-radius: 10px;
    transition: background-color 1s linear;
}
.primeira-parte a:hover{
    background-color: rgb(193, 193, 193);
    color: black;
    border: black solid 1px;
}

.bloco-inteiro{
    margin-top: 10px;
    display: flex;
}
.bloco{
    margin: 20px 10px;
    text-align: center;
}
.bloco h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



.segunda-parte{
    background-image: url(../imagens/bg_detalhe.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    color: white;
    position: relative;
}
.segunda-parte h2{
    text-transform: uppercase;
    margin-left: 100px;
    position: absolute;
    top: 80px;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.4px;
}
.segunda-parte p{
    position: absolute;
    top: 190px;
    margin-left: 100px;
    width: 800px;
    letter-spacing: 1.1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-indent: 5px;
    text-align: justify;
}

.terceira-parte h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}




footer{
    background-color: rgb(28, 7, 136);
    padding: 50px;
    margin-top: 50px;
    text-align: center;
}
footer p{
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
span{
    display: block;
    margin: 10px 0px;
}
