body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    margin: 0px;
}



header .texto-header{
    text-align: center;
    color: white;
}
header .texto-header h1{
    font-size: 36px;
    text-transform: uppercase;
    text-shadow: 3px 1px 1px black;
    margin-top: 8%;

}
header .texto-header p{
    padding: 15px;
    background-color: rgb(78, 77, 77);
    color: white;
    display: inline-block;
    border-radius: 5px;
    margin-top: 35px;
    border-bottom: solid 2.5px white;
}
nav ul{
    margin: 0px;
    list-style: none;
    text-align: right;
}
nav ul li{
    background-color: rgba(128, 128, 128, 9);
    padding: 10px 25px;
    margin: 20px 20px;
    border-radius: 15px;
    border: solid 2px white;
    display: inline-block;
}
nav ul li:hover{
    background-color: black;
}
nav ul li a{
    color: white;
    text-decoration: unset;
    text-transform: uppercase;

}
nav ul li a:hover{
    color: white;
}




main{
    width: 80%;
    margin: auto;
}
.conteudo-pagina{
    background-color: white;
    padding: 10px 15px;
    margin-bottom: 25px;
    margin-top: 20px;
}
.conteudo-pagina h2{
    background-color: rgb(236, 236, 236);
    padding: 10px 5px;
    margin: 0px;
}

/* .bloco-inteiro{
    display: flex;
}
.blocos{
    margin: 15px 30px;
    width: 31%;
}
.blocos p{
    background-color: aquamarine;
    margin: 0px;
    padding: 10px;
} */



footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px 15px;
    margin: 0px;
}
footer p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
